@mixin core_wrapper {
	.wrapper {
		margin: 0 auto;

		@if $wrapper-gutter != false {
			padding-left: $wrapper-gutter;
			padding-right: $wrapper-gutter;
		}

		@if $wrapper-max-width != false {
			max-width: $wrapper-max-width;
		}
	}
}