@mixin wrapper-width(
	$wrapper-width: false,
	$breakpoint-min-width: false
) {
	@if $wrapper-width != false {
		@if $wrapper-width <= $wrapper-max-width {
			@include breakpoint($breakpoint-min-width) {
				.wrapper {
					@if $wrapper-fluid == true {
						min-width: $wrapper-width;
					} @else {
						width: $wrapper-width;
					}
				}
			}
		}
	}
}